.my-things {
    display: flex;
    width: 90%;
}

.rrdd {
    width: 40%;
}

.rrdd-title {
    font-family: 'Nunito';
}

.divider {
    width: 20%;
    border-bottom: 1px solid #51127F;
}

.rrdd-enl {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
    width: 10%;
}

.rrdd-enl:hover {
    transform: translateX(20px);
    width: 10%;
}

.insta-icon {
    font-size: 50px;
    color: #9c1066;
    margin-right: 10px;
}

.icon-name {
    margin: 0px;
    color: white;
}

.technologies-header {
    text-align: center;
}

.technologies {
    display: flex;
    justify-content: space-around;
}

.tec-logo {
    border-radius: 10%;
    width: 120px;
    height: 100px;
    transition: transform 0.5s ease-in-out;
}

.tec-logo:hover {
    transform: translateY(-20px);
}

.tec-text {
    text-align: center;
    margin-top: 5px;
}

.logo {
    display: flex;
    justify-content: center;
}

