.name {
    margin-left: 1.5%;
}

.my-things {
    display: flex;
}

.just-me {
    width: 50%;
}

.my-picture {
    width: 40%;
    border-radius: 50%;
}

.rrdd-title {
    font-family: 'Nunito';
}

.divider {
    border-bottom: 1px solid #51127F;
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
    width: 10%;
}

.link:hover {
    transform: translateX(20px);
    width: 10%;
}

.insta-icon {
    font-size: 50px;
    color: #9c1066;
    margin-right: 10px;
}

.icon-name {
    margin: 0px;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
}

#blue-lock-logo {
    width: 50%;
}

.manga {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.manga-img {
    width: 20%;
}

.carousel {
    border-radius: 5%;
}

.carousel-inner {
    border-radius: 5%;
}

.carousel-caption {
    margin-bottom: 5%;
    width: 40%;
    border-radius: 5%;
    background-color: #9c1066;
}

.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 25%;
}

.carousel-control-next-icon {
    background-color: rgba(0, 0, 0);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 25%;
}
