.my-picture {
    width: 20%;
    border-radius: 50%;
}

.rrdd-title {
    font-family: 'Nunito';
}

.divider {
    border-bottom: 1px solid #51127F;
    width: 10%;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
    width: 10%;
}

.link:hover {
    transform: translateX(20px);
    width: 10%;
}

.insta-icon {
    font-size: 50px;
    color: #9c1066;
    margin-right: 10px;
}

.icon-name {
    margin: 0px;
    color: black;
    font-family: 'Nunito';
}

.manga {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.manga-img {
    width: 20%;
}

