#blue-lock-logo {
    width: 50%;
}

.manga {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.manga-img {
    width: 20%;
}

.carousel {
    border-radius: 5%;
}

.carousel-inner {
    border-radius: 5%;
}

.carousel-caption {
    margin-bottom: 5%;
    width: 40%;
    border-radius: 5%;
    background-color: #9c1066;
}

.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: 25%;
}

.carousel-control-next-icon {
    background-color: rgba(0, 0, 0);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 25%;
}
