.presentation {
    background: linear-gradient(to right, #330255, 20%,#0d0115);
}

.top-card {
    display: flex;
    align-items: center;
    position: relative;
}

.mi-pic {
    width: 20%;
    border-radius: 50%;
}

.middle-line {
    display: flex;
    align-items: center;
}

.utn-img {
    width: 4.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 5%;
    border: 1px solid black;
}

.bandera-img {
    width: 4.5rem;
    height: 2.5rem;
}

.boton-mail {
    color: white !important;
    text-decoration: none;
    display: flex !important;
    align-items: center;
    width: 40%;
}

.boton-mail:hover {
    box-shadow: -1.5rem 0 4.5em #8912d5;
    background-image: linear-gradient(to right bottom, blue, purple);
}

.boton-wpp {
    color: white !important;
    text-decoration: none;
    display: flex !important;
    align-items: center;
    width: 40%;
}

.boton-wpp:hover {
    box-shadow: -1.5rem 0 4.5em #8912d5;
    background-image: linear-gradient(to right bottom, blue, purple);
}
